h1{
    color: chocolate;
 }
 body{
     background-color: cadetblue;
 }
 img{
     height: 400px;
     max-width: auto;
     background-repeat: no-repeat;
     background-position: center;
 }
 #welcome{
     color: crimson;
     font-size: 30px;
 }
 .new{
     padding: 10px;
     
 }